# .env.app
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# .env.db
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=

# .env.superuser
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
